In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.dates as mdates

import math

In [80]:
#加载时间
time = [2015,2017,2019,2021]


#将所有日期数据合并
alldata = pd.DataFrame(columns=['monthdate', 'country_code', 'report_code', 'report_portation'])
for i in range(3):
    result = pd.read_csv(str(time[i])+ '_'+str(time[i+1])+'.csv')  
    alldata=pd.concat([alldata, result])

APEC_country = pd.read_csv('APEC_country.csv')
APEC_country.iloc[1,4] = 'China, Hong Kong SAR'
APEC_country = APEC_country[['country_code','en_name']]

#国家名映射
result = pd.merge(APEC_country, alldata, on='country_code',how='inner')
result = result[['en_name','monthdate', 'report_code', 'report_portation']]
result.columns=['country1', 'monthdate', 'country_code', 'report_portation']
result = pd.merge(APEC_country, result, on='country_code',how='inner')
result = result[['monthdate','country1', 'en_name', 'report_portation']]
result.columns=['monthdate','country1', 'country2', 'report_portation']

In [84]:
#去掉文莱
country_list = APEC_country['en_name'].unique()
country_list.sort()
country_list = np.delete(country_list, 1)

#表头
result_frame = ['time']
for i in country_list:
    for j in country_list:
        if(i != j):
            result_frame.append(i + '*' + j)

timelist = result['monthdate'].unique()
timelist.sort()
result_pd = pd.DataFrame(columns = result_frame)

In [85]:
len(result_pd.columns)

343

In [89]:
result_pd = pd.DataFrame(columns = result_frame)
for time in timelist:
    now_list = [time]
    for country_A in country_list:
        for country_B in country_list:
            if(country_A == country_B):
                continue
            elif(result[(result['country1'] == country_A) & (result['country2'] == country_B)& (result['monthdate'] == time)].empty == 0):
                now_list.append(result[(result['country1'] == country_A) & (result['country2'] == country_B)& (result['monthdate'] == time)].iloc[0,3])
            else:
                now_list.append(-1)
    #print(len(now_list))
    result_pd.loc[len(result_pd)] = now_list
    print(time)
    #break

ValueError: cannot set a row with mismatched columns

In [87]:
result_pd.to_csv('news_relations.csv',index = False)

In [88]:
result_pd

,time,Australia*Canada,Australia*Chile,Australia*China,Australia*Hong Kong,Australia*India,Australia*Japan,Australia*Malaysia,Australia*Mexico,Australia*New Zealand,...,Vietnam*Mexico,Vietnam*New Zealand,Vietnam*Peru,Vietnam*Philippines,Vietnam*Russia,Vietnam*Singapore,Vietnam*South Korea,Vietnam*Taiwan,Vietnam*Thailand,Vietnam*United States
0,201502.0,0.006746,0.001811,0.011200,0.000428,0.027677,0.005184,0.001718,0.001597,0.014423,...,0.000201,-1.000000,0.000101,0.003221,0.047106,0.001309,0.002516,0.000403,0.010971,0.023452
1,201503.0,0.003849,0.003444,0.016387,0.000248,0.021981,0.011575,0.006019,0.002409,0.019015,...,0.000442,0.001143,0.000234,0.000961,0.040132,0.001740,0.003247,0.000779,0.019430,0.014027
2,201504.0,0.003766,0.002229,0.017882,0.000269,0.026194,0.012288,0.004126,0.001374,0.019649,...,0.000466,0.000058,0.000146,0.000989,0.038909,0.001222,0.004045,0.001193,0.020109,0.012688
3,201505.0,0.002589,0.002581,0.015877,0.000338,0.014987,0.010377,0.004783,0.001526,0.016934,...,0.001140,0.000439,0.000117,0.001140,0.043999,0.001082,0.002953,0.000906,0.022833,0.013156
4,201506.0,0.004324,0.001512,0.016739,0.000472,0.012722,0.010175,0.005871,0.001715,0.017181,...,0.000520,0.000289,0.000231,0.000722,0.034800,0.001531,0.004650,0.000866,0.025039,0.010224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,202101.0,0.002645,0.002040,0.023925,0.000215,0.004568,0.013099,0.001162,0.003036,0.010923,...,0.000035,0.000127,-1.000000,0.000506,0.020939,0.000161,0.000449,0.000282,0.013249,0.021054
72,202102.0,0.005337,0.001277,0.018405,0.000237,0.001807,0.016162,0.001419,0.001940,0.013560,...,0.000077,0.000105,0.000007,0.000586,0.021667,0.000105,0.000349,0.000279,0.013685,0.013399
73,202103.0,0.003462,0.001292,0.017670,0.000237,0.001916,0.012372,0.001459,0.002346,0.013672,...,0.000136,0.000153,0.000006,0.000514,0.022318,0.000158,0.000509,0.000328,0.015133,0.013284
74,202104.0,0.004775,0.001754,0.017098,0.000286,0.002459,0.013571,0.001963,0.001601,0.015611,...,0.000137,0.000059,0.000006,0.000386,0.029744,0.000149,0.000517,0.000380,0.014732,0.012461
75,202105.0,0.004950,0.001853,0.023263,0.000391,0.002348,0.013928,0.001738,0.002843,0.016012,...,0.000069,0.000101,0.000005,0.000299,0.021762,0.000107,0.000331,0.000315,0.015928,0.010132