In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.dates as mdates

In [2]:
#读取时间段的按月报道广告数目 1
result = pd.read_csv('tone.csv')
result['monthdate'] = pd.to_numeric(result['monthdate'], downcast='integer')
result['monthdate'] = pd.to_datetime(result['monthdate'].astype('str'),format = '%Y%m')
result['tone_num'] = result.apply(lambda x: x['avgTone'] * (x['numreport'] ** 0.5), axis=1)

In [5]:
ex_month_total_id = result

In [14]:
#保存结果
new_dataframe = ex_month_total_id['report_code'].unique()
new_dataframe.sort()
result_frame = ['month']
for i in new_dataframe:
    result_frame.append(i)
result_pd = pd.DataFrame(columns = result_frame)
#将国家转化为列输出，空值为0
export_data = ex_month_total_id[['monthdate','report_code','tone_num']]
for month in export_data['monthdate'].unique():
    fill_country_list = [month]
    for country in new_dataframe:
        if(export_data[(export_data['monthdate'] == month) & (export_data['report_code'] == country)].empty == 0):
            fill_country_list.append(export_data[(export_data['monthdate'] == month) & (export_data['report_code'] == country)].iloc[0,2])
        else:
            fill_country_list.append(0)
    result_pd.loc[len(result_pd)] = fill_country_list

In [15]:
result_pd.to_csv('201502_gdelt_tone.csv',index = False)

In [16]:
result_pd

,month,AS,BX,CA,CH,CI,HK,ID,JA,KS,...,NZ,PE,PP,RP,RS,SN,TH,TW,US,VM
0,2015-02-01,-196.203211,-1.213621,-101.570223,-140.971439,-37.181372,-78.931461,-165.603931,-94.961228,-129.390591,...,-28.509934,-34.313122,-34.162977,-108.270529,-641.600531,19.238652,-200.482239,-2.222640,-380.318590,-44.465104
1,2015-03-01,-272.338737,1.553748,-114.936714,-264.815442,-217.281927,-30.736182,-468.429855,-173.496718,-138.927305,...,-151.129035,-136.169427,-98.664331,-226.748830,-1269.873687,-50.410386,-173.475404,8.260235,-687.710312,-72.527842
2,2015-04-01,-271.300779,19.637722,-98.055885,-308.834670,-295.943378,-19.640017,-644.891476,-128.084373,-243.038173,...,-132.734746,-66.303278,-58.249522,-185.620914,-1007.989683,6.498721,-180.928943,-32.432712,-736.689694,-95.774245
3,2015-05-01,-258.998238,-19.511414,-104.043791,-339.603072,-119.371110,-30.359458,-453.787352,-213.868231,-141.720757,...,-11.668395,-153.731409,-139.395211,-282.589160,-905.461715,-49.762537,-612.861826,-47.143375,-814.316489,-79.574355
4,2015-06-01,-251.566833,-14.214066,-153.955518,-528.267734,-130.444077,-49.991086,-458.325096,-210.101451,-739.362535,...,-42.218858,-73.253747,-71.743677,-128.557556,-1064.525504,19.007421,-197.492516,-142.917913,-739.948655,-76.028277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2021-01-01,-112.361016,-16.614690,-15.347959,-624.092467,-31.049603,-49.527458,-481.878581,-215.766743,-72.997750,...,-121.402980,-127.280902,-27.913349,-116.284353,-966.095192,-25.398909,-93.946476,-75.916811,-985.832017,-26.071597
72,2021-02-01,-186.139277,-7.416890,36.793127,-359.060743,-21.805621,-17.217956,-184.457446,-135.415770,-25.827935,...,-109.006197,-132.993914,-15.964525,-92.874566,-928.972388,-55.685107,-137.908791,-26.119030,-695.040959,-21.731097
73,2021-03-01,-215.128715,-1.886117,7.036943,-504.860778,-20.565961,7.295723,-323.068667,-155.765902,-53.986343,...,-122.650325,-114.406599,-83.733342,-156.846422,-828.753553,-14.822631,-204.715814,-60.316591,-592.868912,-11.196726
74,2021-04-01,-54.272948,-8.344771,6.044485,-293.068104,-34.748926,-6.194917,-407.115364,-143.901293,18.451396,...,-46.743038,-139.103150,-69.254627,-187.884245,-1109.747110,-11.693082,-149.004092,-195.601563,-639.227503,-4.618052
75,2021-05-01,-107.111246,-0.527537,7.507175,-496.984249,17.606629,4.624140,-181.501961,-119.631052,35.427541,...,-72.704326,-115.639084,-15.504585,-106.398987,-815.203477,-38.277265,-155.532079,-96.086560,-515.395100,-46.779183