In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.dates as mdates

import math

In [7]:
#加载时间
timelist = []
for i in range(11):
    timelist.append(str(201502 + i))
    
for i in range(12):
    timelist.append(str(201601 + i))

for i in range(12):
    timelist.append(str(201701 + i))
    
for i in range(12):
    timelist.append(str(201801 + i))

for i in range(12):
    timelist.append(str(201901 + i))
    
for i in range(12):
    timelist.append(str(202001 + i))
    
for i in range(5):
    timelist.append(str(202101 + i))
    
    
#将所有日期数据合并
alldata = pd.DataFrame(columns=['rtTitle', 'ptTitle', 'TradeValue', 'monthdate'])
for i in timelist:
    result = pd.read_csv(i + '_APEC_import_trade.csv')
    result['monthdate'] = i
    alldata=pd.concat([alldata, result])

#获取ex_data作为补充
ex_alldata = pd.DataFrame(columns=['rtTitle', 'ptTitle', 'TradeValue', 'monthdate'])
for i in timelist:
    result = pd.read_csv(i + '_APEC_export_trade.csv')
    result['monthdate'] = i
    ex_alldata=pd.concat([ex_alldata, result])


#读取统一名称
APEC_country = pd.read_csv('APEC_country.csv')
APEC_country.iloc[1,4] = 'China, Hong Kong SAR'
APEC_country.iloc[9,4] = 'Rep. of Korea'
APEC_country = APEC_country[['un_name','en_name']]
APEC_country.columns=['rtTitle','en_name']

result_name = 'TradeValue'

#国家名映射
result = pd.merge(APEC_country, alldata, on='rtTitle',how='inner')
result = result[['en_name','monthdate', 'ptTitle', result_name]]
result.columns=['country1', 'monthdate', 'rtTitle', result_name]
result = pd.merge(APEC_country, result, on='rtTitle',how='inner')
result = result[['monthdate','country1', 'en_name', result_name]]
result.columns=['monthdate','country1', 'country2', result_name]

#出口国家名映射
ex_result = pd.merge(APEC_country, ex_alldata, on='rtTitle',how='inner')
ex_result = ex_result[['en_name','monthdate', 'ptTitle', result_name]]
ex_result.columns=['country1', 'monthdate', 'rtTitle', result_name]
ex_result = pd.merge(APEC_country, ex_result, on='rtTitle',how='inner')
ex_result = ex_result[['monthdate','country1', 'en_name', result_name]]
ex_result.columns=['monthdate','country1', 'country2', result_name]

In [8]:
#加载国家
country_list = APEC_country['en_name'].unique()
country_list.sort()

#表头
result_frame = ['time','country']
for i in country_list:
    result_frame.append(i)

    
result_pd = pd.DataFrame(columns = result_frame)

In [5]:
country_list

array(['Australia', 'Brunei', 'Canada', 'Chile', 'China', 'Hong Kong',
       'Indonesia', 'Japan', 'Malaysia', 'Mexico', 'New Zealand', 'Peru',
       'Philippines', 'Russia', 'Singapore', 'South Korea', 'Taiwan',
       'Thailand', 'United States', 'Vietnam'], dtype=object)

In [9]:
result_pd = pd.DataFrame(columns = result_frame)
alldata = result
for time in timelist:
    count = 0
    for country_A in country_list:
        now_list = [time]
        now_list.append(country_list[count])
        count += 1
        for country_B in country_list:
            if(country_A == country_B):
                now_list.append(0)
            elif(alldata[(alldata['country1'] == country_A) & (alldata['country2'] == country_B)& (alldata['monthdate'] == time)].empty == 0):
                now_list.append(alldata[(alldata['country1'] == country_A) & (alldata['country2'] == country_B)& (alldata['monthdate'] == time)].iloc[0,3])
            elif(ex_result[(ex_result['country1'] == country_B) & (ex_result['country2'] == country_A)& (ex_result['monthdate'] == time)].empty == 0):
                now_list.append(ex_result[(ex_result['country1'] == country_B) & (ex_result['country2'] == country_A)& (ex_result['monthdate'] == time)].iloc[0,3])
            else:
                now_list.append(-1)
        result_pd.loc[len(result_pd)] = now_list
    print(time)
    #break

201502
201503
201504
201505
201506
201507
201508
201509
201510
201511
201512
201601
201602
201603
201604
201605
201606
201607
201608
201609
201610
201611
201612
201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201712
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003
202004
202005
202006
202007
202008
202009
202010
202011
202012
202101
202102
202103
202104
202105

In [12]:
result_pd.to_csv('201502_202105_trade.csv',index = False)

In [1]:
result

NameError: name 'result' is not defined

In [10]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', 30)
result_pd

,time,country,Australia,Brunei,Canada,Chile,China,Hong Kong,Indonesia,Japan,Malaysia,Mexico,New Zealand,Peru,Philippines,Russia,Singapore,South Korea,Taiwan,Thailand,United States,Vietnam
0,201502,Australia,0,39502042,127538913,91072981,4079619361,84426352,345053848,1241263608,566663030,129520038,449442858,19122801,38762135,7494242,517852806,646069634,-1,829241752,1601846133,294873739
1,201502,Brunei,31538,0,418484,428,283185,975641,8088822,11230239,52072991,346816,143387,14744,550933,-1,35985255,5577538,-1,12170098,12547977,797369
2,201502,Canada,77357598,618272,0,103427697,3853895744,24059268,83444263,913874176,151640892,2022211448,31555316,215220290,65129595,33216096,68881720,486964419,-1,166774802,17493040494,189019323
3,201502,Chile,16410628,-1,47081781,0,1198198702,10218781,12579002,127518637,15407826,139001252,3875351,87440278,5109787,3169583,5087475,167816661,-1,85783191,907448787,57367948
4,201502,China,4629813614,3338497,1129325157,1261257217,0,17157511903,1150150252,7495754458,1611323540,414321704,550638671,495208484,444683699,1052980566,3055526459,9927641709,-1,1880988417,8699839856,885338746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,202105,South Korea,1665849738,-1,465710376,395134928,12384209310,710469855,522477423,3577324339,760765086,201376205,143958262,-1,223529933,-1,1462152589,0,-1,-1,5581059529,-1
1516,202105,Taiwan,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1
1517,202105,Thailand,333389475,-1,62200859,38568383,6024951323,591637323,585491097,2458281364,986003182,26422490,71657337,-1,288619984,-1,1248455457,-1,-1,0,1005887368,-1
1518,202105,United States,803726233,2725429,29573521091,1159451877,41137313292,314219081,2512710041,11822999221,5237973593,31668294052,386830958,410082612,1188710101,2839146828,2561449124,8235540307,-1,4627113362,0,9098023102
1519,202105,Vietnam,695530860,-1,54829214,19600133,11994671068,996077127,554207439,1519036520,799111871,9014015,52901572,-1,112777456,-1,1189182854,-1,-1,-1,1078470098,0

In [31]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', 30)
result_pd

,time,country,Australia,Brunei,Canada,Chile,China,Hong Kong,India,Japan,Malaysia,Mexico,New Zealand,Peru,Philippines,Russia,Singapore,South Korea,Taiwan,Thailand,United States,Vietnam
0,202001,Australia,0,112693727,151901655,50391055,5131578978,33385008,266058944,1057363029,655415981,165036133,377296890,7946677,34996437,7400930,689804819,-1,-1,657345705,2022660243,414636995
1,202001,Brunei,4660659,0,585037,164922,91762973,3871792,11514377,8002291,55348052,607196,120030,559,586835,22660642,66305831,-1,-1,8233675,24810504,4110155
2,202001,Canada,163470363,784,0,144188403,4262218017,19567055,104105504,921037202,168080038,1970897208,44643205,270124036,86158493,61331701,93482192,-1,-1,206100362,17871255455,456148979
3,202001,Chile,34101539,57,49172180,0,1463744640,5083320,12721605,153796768,17303211,141463300,11155133,132594799,5560870,5130111,5535891,-1,-1,48087182,1176617729,70915221
4,202001,China,11084077793,184198617,1501681811,3050176502,0,583639092,3184440625,10184892856,5617160977,1207305509,1371802286,1368309115,1200317685,6111417445,2844987284,-1,-1,3040048110,9068409030,4763354344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,202012,South Korea,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1
236,202012,Taiwan,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,-1
237,202012,Thailand,292625863,41428151,64052021,41627312,4765531417,205818346,615734412,2841509590,1025220443,60017628,58663099,20789449,322244613,210294209,560058773,-1,-1,0,1076017144,482067313
238,202012,United States,1534351773,1406313,25286474613,945285977,44161209000,211026424,1834938023,11711577225,4565329056,29890273020,350386074,682501112,1002600817,1476292794,2898780136,-1,-1,3448018565,0,7304105281
239,202012,Vietnam,527831256,27211822,66954379,30111981,9567694755,118019138,595675769,1922019629,614900234,46045780,47626429,4335481,188326760,234763260,330837048,-1,-1,1245231267,1277229257,0